---
// Import Stylesheet
import { map } from 'astro/zod';
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://v2.jokeapi.dev/joke/Any?amount=10';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
const siteName = 'Totally not Offensive Jokes';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">{siteName}</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.jokes.map (item => 
						<blockquote>{item.setup}</blockquote>
						<em>{item.delivery}</em>

					)
				}
		  
			</ul>
		  </main>
		  


	</body>
</html>
